{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit "{{ post['title'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
  <!-- post the data -->
  <form method="post">
    <label for="title">Title</label>
    <!--
    request is another variable that’s automatically available in templates.
    The pattern {{ request.form['title'] or post['title'] }} is used to choose
    what data appears in the form. When the form hasn’t been submitted, the 
    original post data appears, but if invalid form data was posted you want to 
    display that so the user can fix the error, so request.form is used instead.
    -->
    <input name="title" id="title"
      value="{{ request.form['title'] or post['title'] }}" required>
    <label for="body">Body</label>
    <textarea name="body" id="body">{{ request.form['body'] or post['body'] }}</textarea>
    <input type="submit" value="Save">
  </form>
  <hr>
  <!-- confirmation warning for delete -->
  <form action="{{ url_for('blog.delete', id=post['id']) }}" method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
  </form>
{% endblock %}