<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<!-- 
After the page title, and before the content, the template loops over each message returned by get_flashed_messages() 
There are three blocks defined here that will be overridden in the other templates:
{% block title %} will change the title displayed in the browser’s tab and window title.
{% block header %} is similar to title but will change the title displayed on the page.
{% block content %} is where the content of each page goes, such as the login form or a blog post.
-->
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1>Flaskr</h1>
  <ul>
      <!-- g is automatically available in templates -->
    {% if g.user %}
      <li><span>{{ g.user['username'] }}</span>
      <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
    {% else %}
      <li><a href="{{ url_for('auth.register') }}">Register</a>
      <li><a href="{{ url_for('auth.login') }}">Log In</a>
    {% endif %}
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>